.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lives {
  position: absolute;
  top: 3.5rem;
  right: 5rem;
  z-index: 99;
  display: flex;
  gap: 0.5rem;
  font-size: 3rem;
  color: var(--deep-red);
}

.title {
  font-size: 5rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;

  .card {
    width: 35rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    img {
      width: 100%;
      height: 25rem;
      padding: 2.5rem;
      border: 1px solid lightgray;
      border-radius: 15px;
      object-fit: contain;
    }

    p {
      margin-top: 1.5rem;
      text-align: center;
    }
  }
}

.play {
  padding: 1rem 2rem;
  margin-top: 5rem;
  border-radius: 99rem;
  border: none;
  font-size: 2rem;
  background: var(--pink);
}

.points {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.question {
  height: 15rem;
  margin-top: 10rem;
  font-size: 15rem;
}

.response {
  margin-top: 12rem;
  font-size: 1.8rem;
}

.timeText {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

.timer {
  position: relative;
  width: 75%;
  height: 1rem;
  border-radius: 99rem;
  background-color: lightgray;

  .inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 99rem;
    background-color: var(--purple);
  }
}

.actionRow {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  button {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 2rem;
    border-radius: 99rem;
    border: none;
    color: white;
    font-size: 1.8rem;
    transition: all 0.2s;
  }
}

.goBack {
  position: fixed;
  bottom: 5rem;
  left: 5rem;
  padding: 1rem 2rem;
  border: 1px solid lightgray;
  border-radius: 99rem;
}

.answerWrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  .title {
    font-size: 2.5rem;
  }

  .answer {
    display: flex;
    align-items: center;
    gap: 2rem;

    .answerText {
      font-size: 7.5rem;
    }

    .play {
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      font-size: 1.6rem;
      background-color: lightgray;
    }
  }

  .yourAnswer {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    button {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 99rem;
      border: none;
      background: lightgray;
    }
  }

  .pointCounter {
    margin-top: 2.5rem;
    font-size: 3rem;
  }

  .continue {
    padding: 1rem 2rem;
    margin-top: 3.5rem;
    border-radius: 99rem;
    border: none;
    font-size: 2rem;
    background-color: var(--pink);
  }
}

.ballWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .ball {
    width: 50vw;
    height: 50vw;
    border-radius: 99rem;
    box-shadow: 0 0 10px 5rem var(--pink);
    background: var(--pink);

    .face {
      position: absolute;
      left: 50%;
      top: 7.5rem;
      transform: translateX(-50%);
    }
  }

  .dialog {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    font-size: 3.5rem;
  }
}

.gameEndWrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  .title {
    font-size: 6.5rem;
  }

  .score {
    margin-top: 2.5rem;
    font-size: 3rem;
  }

  .buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 2.5rem;
  }

  .games {
    padding: 1rem 2rem;
    border-radius: 99rem;
    border: none;
    font-size: 2rem;
    background-color: var(--pink);
  }
}
